@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }

    .about-list::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 50%;
        left: -8.5px;
        top: 50%;
        transform: translateY(-50%);
    }

    .about-list+div {
        min-width: 130px;
        width: 100%;
    }
}